@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.inset-center {
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y));
  }

  .inset-center-y {
    --tw-translate-y: -50%;
    position: absolute !important;
    top: 50%;
    transform: translateY(var(--tw-translate-y));
  }

  .inset-center-x {
    --tw-translate-x: -50%;
    position: absolute !important;
    left: 50%;
    transform: translateX(var(--tw-translate-x));
  }

.bg-overlay {
    background: linear-gradient(0deg, rgba(0, 12, 26, 0.6), rgba(0, 12, 26, 0.6)),
    linear-gradient(180deg, rgba(0, 12, 26, 0) 90.46%, #000C1A 100%);
}

.bg-overlay-2 {
    background: linear-gradient(89.58deg, rgba(0, 12, 26, 0.85) 0.35%, rgba(0, 12, 26, 0.75) 40.36%, rgba(0, 12, 26, 0.6) 64.89%, rgba(0, 12, 26, 0.4) 79.78%, rgba(0, 12, 26, 0.1) 89.71%, rgba(0, 12, 26, 0) 99.64%);

}
